.aside-menu{
  height: 100vh;
  position: relative;
  left: 0;

  .branch{
    height: 170px;
  }
   ul{
    padding: 0 3px;

    li{
      cursor: pointer;
      padding: 7px 10px;
      list-style: none;
      border-radius: 12px;
      border: 1px solid #66666640;
      transition: var(--transition);

      &.active{
        color: var(--color-white);
        background: var(--color-gradient-primary);
        border: 1px solid var(--color-gradient-primary);
      }

      &:hover{
        color: var(--color-white);
        background: var(--color-gradient-primary);
        border: 1px solid var(--color-gradient-primary);
      }
    }
   }
}