.btn-style-1{
  background-color: var(--color-primary);
  transition: ease all .8s;
  &:hover{
    background-color: var(--color-secondary);
    box-shadow: var(--shadow-primary);
  }
}

button:disabled,
button[disabled]{
  background-color: #9f9f9f;
  color: #f8f8f8;

  &:hover{
    background-color: #9f9f9f;
    color: #f8f8f8;
    box-shadow: none;
  }
}