.card-user-option{
  width: 350px;
  height: 400px;
  scale: .98;
  transition: var(--transition);
  cursor: pointer;

  &:hover{
    scale: 1;
  }

  .card-user-icon-border{
    display: block;
    height: 150px;
    width: 150px;

    .icon{
      font-size: 50px;
    }
  }
}