@import "~bootstrap/scss/bootstrap";

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

}


@import './button';
@import './variables';
@import './forms';
@import './typography';
@import './asideMenu';
@import './headerSection';
@import './logoutButton';
@import './userAdmin';
@import './mainSection';
@import './popUp';
@import './globals';
@import './userDetails';
@import './cardUser';
@import './loading';